/* .navbar-nav{
    color: darkblue;
   background-color: firebrick;
}*/

 /* .navbar-brand{
    background-color: aqua;
 
}  */

/* .nav-link{
    background-color: brown;
} */

/* .nav-item{
    background-color: indigo;
} */
.navbar{
    
    background-color: hwb(135 13% 15%);
   
  
    
}
